<div class="tabs">
  <ul>
    <li class="is-active"><a>Today</a></li>
    <li><a>This Week</a></li>
    <li><a>This Month</a></li>
  </ul>

  <div class="field has-addons" style="margin-right: 10px;">
    <p class="control has-icons-left">
      <input class="input is-rounded is-small" style="padding-left:2.5rem;" type="password" placeholder="From Date">
      <span class="icon is-small is-left">
        <fa-icon icon="calendar-alt"></fa-icon>
      </span>
    </p>
    <p class="control">
      <a class="button is-primary is-small is-rounded">
        Search
      </a>
    </p>
  </div>
</div>

<div style="margin-bottom: 16px;">
  <app-tile></app-tile>
</div>


<div style="margin-bottom: 16px;">
  <app-order-chart></app-order-chart>
</div>


<div class="columns">

  <div class="column">

    <app-payment-summery-chart></app-payment-summery-chart>

  </div>


  <div class="column">
    <app-order-status-chart></app-order-status-chart>
  </div>
</div>




<div class="columns">

  <div class="column is-one-third">
    <app-top-selling></app-top-selling>
  </div>


  <div class="column">
    <app-inventory-status></app-inventory-status>
  </div>


</div>
