<div class="columns">
  <div class="column is-1 is-hidden-mobile" style="z-index:1000;width: 100px;">

    <app-sidenav></app-sidenav>

  </div>

  <div class="column page-content" >

      <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
              <!-- <a class="navbar-item" href="#">
                  <img src="Ico.jpg" width="112" height="40">
              </a> -->
  
              <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                  data-target="navbarBasicExample">
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
              </a>
          </div>
  
          <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-start">
                  <div class="navbar-item">
                      <h3 class="page-title">Dashboard</h3>
                  </div>
  
              </div>
  
              <div class="navbar-end">
                  <div class="navbar-item">
                      <div id="avatar"></div>
  
                      <div class="dropdown is-hoverable" style="margin-right: 20px;">
                          <div class="dropdown-trigger">
                              <button class="button" style="border-style: none;" aria-haspopup="true"
                                  aria-controls="dropdown-menu4">
                                  <span>Shrikant Gond</span>
                                  <!-- <span class="icon is-small">
                                      <i class="fas fa-angle-down" aria-hidden="true"></i>
                                  </span> -->
                                  <div style="padding-left:5px;">
                                    <!-- <fa-icon [icon]="faCoffee"></fa-icon> -->
                                    <!-- <fa-icon icon="asterisk" size="3x" [spin]="true"></fa-icon> -->
                                    <fa-icon icon="caret-down"></fa-icon>
                                  </div>
                              </button>
                          </div>
                          <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                              <div class="dropdown-content">
                                  <div class="dropdown-item">
                                      <p>You can insert <strong>any type of content</strong> within the dropdown menu.</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </nav>

      <!-- <section class="section"> -->
      <!-- <div class="container">  -->

      <div class="tabs">
          <ul>
              <li class="is-active"><a>Pictures</a></li>
              <li><a>Music</a></li>
              <li><a>Videos</a></li>
              <li><a>Documents</a></li>
          </ul>
      </div>


      <div class="columns">


          <div class="column">
              <div class="box">
                  <div class="content">
                      <span>Total Orders</span>
                      <h1 class="h1-custom">68</h1>
                      <div class="columns is-mobile is-centered">
                          <div class="column">^ +6% </div>
                          <div class="column has-text-right ">
                              <a class="button is-rounded">White</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>


          <div class="column">
              <div class="box">
                  <div class="content">
                      <span>Total Orders</span>
                      <h1 class="h1-custom">68</h1>
                      <div class="columns is-mobile is-centered">
                          <div class="column">^ +6% </div>
                          <div class="column has-text-right ">
                              <a class="button is-rounded">White</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="column">
              <div class="box">
                  <div class="content">
                      <span>Total Orders</span>
                      <h1 class="h1-custom">68</h1>
                      <div class="columns is-mobile is-centered">
                          <div class="column">^ +6% </div>
                          <div class="column has-text-right ">
                              <a class="button is-rounded">White</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="column">
              <div class="box">
                  <div class="content">
                      <span>Total Orders</span>
                      <h1 class="h1-custom">68</h1>
                      <div class="columns is-mobile is-centered">
                          <div class="column">^ +6% </div>
                          <div class="column has-text-right ">
                              <a class="button is-rounded">White</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>



      <div class="box">
          <div class="content">
              <div class="heading">
                  <div class="columns is-mobile is-centered">
                      <div class="column">
                          <p class="subtitle">Order Chart</p>
                      </div>
                      <div class="column has-text-right ">
                          <a class="button is-rounded">White</a>
                      </div>
                  </div>
              </div>
              <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
          </div>
      </div>


      <div class="columns">

          <div class="column">
              <div class="box">
                  <div class="content">
                      <div class="heading">
                          <div class="columns is-mobile is-centered">
                              <div class="column">
                                  <p class="subtitle">Payment Summery</p>
                              </div>
                              <div class="column has-text-right ">
                                  <a class="button is-rounded">White</a>
                              </div>
                          </div>
                      </div>
                      <div id="container_hori"
                              style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
                  </div>
              </div>
          </div>


          <div class="column">
              <div class="box">
                  <div class="content">
                      <div class="heading">
                          <div class="columns is-mobile is-centered">
                              <div class="column">
                                  <p class="subtitle">Order Status</p>
                              </div>
                              <div class="column has-text-right ">
                                  <a class="button is-rounded">White</a>
                              </div>
                          </div>
                      </div>
                      <div id="container_hori2"
                              style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
                  </div>
              </div>
          </div>
      </div>




      <div class="columns">

          <div class="column is-one-third">
              <div class="box">
                  <div class="content">
                      <div class="heading">
                          <div class="columns is-mobile is-centered">
                              <div class="column">
                                  <p class="subtitle">Top Selling</p>
                              </div>
                              <div class="column has-text-right ">
                                  <a class="button is-rounded">White</a>
                              </div>
                          </div>
                      </div>


                      <table class="table is-hoverable is-fullwidth">
                          <thead>
                              <tr>
                                  <th>Menu Title</th>
                                  <th>Quantity</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>Masala Chai</td>
                                  <td>68</td>
                              </tr>
                              <tr>
                                  <td>Masala Chai</td>
                                  <td>68</td>
                              </tr>
                              <tr>
                                  <td>Masala Chai</td>
                                  <td>68</td>
                              </tr>
                              <tr>
                                  <td>Masala Chai</td>
                                  <td>68</td>
                              </tr>
                              <tr>
                                  <td>Masala Chai</td>
                                  <td>68</td>
                              </tr>
                              <tr>
                                  <td>Masala Chai</td>
                                  <td>68</td>
                              </tr>
                          </tbody>
                      </table>

                      <nav class="pagination is-rounded" role="navigation" aria-label="pagination">
                          <a class="pagination-previous">Previous</a>
                          <a class="pagination-next">Next page</a>
                          <ul class="pagination-list" style="margin-top:-.5rem;">
                              <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
                              <li><span class="pagination-ellipsis">&hellip;</span></li>
                              <li><a class="pagination-link is-current" aria-label="Page 46"
                                      aria-current="page">46</a></li>
                          </ul>
                      </nav>

                  </div>
              </div>
          </div>


          <div class="column">
              <div class="box">
                  <div class="content">
                      <div class="heading">
                          <div class="columns is-mobile is-centered">
                              <div class="column">
                                  <p class="subtitle">Inventory Status</p>
                              </div>
                              <div class="column has-text-right ">
                                  <a class="button is-rounded">White</a>
                              </div>
                          </div>
                      </div>

                      <table class="table is-hoverable is-fullwidth">
                          <thead>
                              <tr>
                                  <th>Inventory</th>
                                  <th>Progress</th>
                                  <th>Action</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>Tea Powder</td>
                                  <td><progress class="progress is-danger" value="25" max="100">25%</progress>
                                  </td>
                                  <td><a class="button is-rounded is-info ">Send Requisition</a></td>
                              </tr>
                              <tr>
                                  <td>Sugar</td>
                                  <td><progress class="progress is-warning" value="45" max="100">45%</progress>
                                  </td>
                                  <td><a class="button is-rounded" disabled>Send Requisition</a></td>
                              </tr>
                              <tr>
                                  <td>Salt</td>
                                  <td><progress class="progress is-warning" value="55" max="100">55%</progress>
                                  </td>
                                  <td><a class="button is-rounded" disabled>Send Requisition</a></td>
                              </tr>
                              <tr>
                                  <td>White Bread</td>
                                  <td><progress class="progress is-danger" value="35" max="100">75%</progress>
                                  </td>
                                  <td><a class="button is-rounded is-info ">Send Requisition</a></td>
                              </tr>
                              <tr>
                                  <td>Green Chilli Powder</td>
                                  <td><progress class="progress is-success" value="75" max="100">75%</progress>
                                  </td>
                                  <td><a class="button is-rounded" disabled>Send Requisition</a></td>
                              </tr>

                          </tbody>
                      </table>

                      <nav class="pagination is-rounded" role="navigation" aria-label="pagination">
                          <a class="pagination-previous">Previous</a>
                          <a class="pagination-next">Next page</a>
                          <ul class="pagination-list" style="margin-top:-.5rem;">
                              <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
                              <li><span class="pagination-ellipsis">&hellip;</span></li>
                              <li><a class="pagination-link is-current" aria-label="Page 46"
                                      aria-current="page">46</a></li>
                          </ul>
                      </nav>


                  </div>
              </div>
          </div>
      </div>
      <!-- </div> -->
      <!-- </section> -->




  </div>

</div>