.page-content{
    margin: 0 16px;
    background: #f0f0f0;
}



.h1-custom{
    margin-top: .5em !important;
    margin-bottom: 0;
    font-weight:400;
    }
    
    .uppercase{
    text-transform: uppercase;
    }
    
    .subtitle{
    line-height:1;
    font-weight:100;
    font-size: 1.15rem;
    }

    th{
        font-weight:600;
    }