
<div class="box">
    <div class="content">
      <div class="heading">
        <div class="columns is-mobile is-centered">
          <div class="column">
            <p class="subtitle">Order Chart</p>
          </div>
          <div class="column has-text-right ">
            <a class="button is-rounded is-small" (click)="load()">
              <fa-icon icon="spinner"></fa-icon>
            </a>
          </div>
        </div>
      </div>

      <loading-container [loadable]="(chart$ | async)">
        <highcharts-chart 
          [Highcharts]="Highcharts"  
          [constructorType]="chartConstructor"
          [options]="(chart$ | async).entities"
          [callbackFunction]="chartCallback"
          [(update)]="updateFlag"
          [oneToOne]="oneToOneFlag"
          [runOutsideAngular]="false" 
          style="width: 90%; height: 400px; display: block;"
        ></highcharts-chart>
    </loading-container>
      

    </div>
  </div>