.menu-item .content div {
    width: 160px;
    margin-left:-10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.menu-item{
    width: 170px;    
}