<div class="columns">

  <div class="column is-two-thirds-desktop" aria-label="Menu items">

    <div class="field has-addons">
      <p class="control has-icons-left" style="width:100%">
        <input class="input is-rounded is-small" style="padding-left:2.5rem;" type="text"
          placeholder="Search Menu Item">
        <span class="icon is-small is-left">
          <fa-icon icon="search"></fa-icon>
        </span>
      </p>
      <p class="control">
        <a class="button is-primary is-small is-rounded">
          Search
        </a>
      </p>
    </div>

    <div class="tabs">
      <ul>
        <li [ngClass]="{'is-active': tabcode === ''}"><a (click)="onTabChange('');">All</a></li>
        <li [ngClass]="{'is-active': tabcode === 'hd'}"><a (click)="onTabChange('hd');">Hot Drinks</a></li>
        <li [ngClass]="{'is-active': tabcode === 'cd'}"><a (click)="onTabChange('cd');">Cold Drinks</a></li>
        <li [ngClass]="{'is-active': tabcode === 'sn'}"><a (click)="onTabChange('sn');">Snacks</a></li>
        <li [ngClass]="{'is-active': tabcode === 'ot'}"><a (click)="onTabChange('ot');">Others</a></li>
      </ul>
    </div>


    <div class="columns is-1 is-mobile is-multiline">
      <div class="column" *ngFor="let item of (menus$ | async)">
        <div class="box menu-item link" (click)="addmenuitem(item)">
          <div class="content has-text-centered">
            <div>{{item.title}}</div>
            <div style="font-weight:bold;">R {{item.rate}}</div>
          </div>
        </div>
      </div>


    </div>


  </div>

  <div class="column" aria-label="KOT list">

    <div class="box">
      <div class="content">

        <div class="columns is-mobile" style="margin-bottom:0%">
          <h4 class="column">Table {{(order$ | async).tablecode}}</h4>
          <!-- <div class="column is-narrow has-text-right">
            <a class="button is-small is-rounded is-primary" style="width:100px;margin-bottom: 10px;">Pay
              Now</a>
          </div>
          <div class="column is-narrow has-text-right delete" style="    margin-top: .8rem;
    margin-right: .5rem;">            
          </div> -->

        </div>

        <table class="table is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th>Menu Item</th>
              <th>Rate</th>
              <th>Quantity</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of (order$ | async).items">
                  <td>{{item.menutitle}}</td>
                  <td>{{item.menurate}}</td>
                  <td>{{item.quantity}}</td>
                  <td>{{item.menurate * item.quantity}}</td>
                </tr>
          

          </tbody>
        </table>

        <div class="box" style="box-shadow:none;">
          <div class="content">
            <div class="columns is-mobile">
              <div class="column is-one-third">
                <div class="block">
                  <!-- <a class="button is-small is-rounded is-primary"
                    style="width:100px;margin-top:25px;margin-bottom: 10px;">Add KOT</a> -->
                  <a class="button is-small is-rounded is-primary" style="width:100px;margin-bottom: 10px;">Pay
                    Now</a>
                  <a class="button is-small is-rounded is-danger" style="width:100px;margin-bottom: 10px;">Cancel</a>
                </div>
              </div>

              <div class="column">
                <div class="columns is-mobile">
                  <div class="column" style="padding:0.2rem 0.5rem;">Total Amount</div>
                  <div class="column has-text-right" style="padding:0.2rem 0.5rem;">Rs {{total}}
                  </div>
                </div>
                <!-- <div class="columns is-mobile">
                  <div class="column" style="padding:0.2rem 0.5rem;">Discount</div>
                  <div class="column has-text-right" style="padding:0.2rem 0.5rem;">10%
                  </div>
                </div>
                <div class="columns is-mobile">
                  <div class="column" style="padding:0.2rem 0.5rem;">Coupon(s)</div>
                  <div class="column has-text-right" style="padding:0.2rem 0.5rem;">-
                  </div>
                </div> -->
                <div class="columns is-mobile">
                  <div class="column" style="padding:0.2rem 0.5rem;">Tax(CGST,SGST)</div>
                  <div class="column has-text-right" style="padding:0.2rem 0.5rem;">Rs {{total* tax}}
                  </div>
                </div>
                <!-- <div class="columns is-mobile">
                  <div class="column" style="padding:0.2rem 0.5rem;">Tax CGST</div>
                  <div class="column has-text-right" style="padding:0.2rem 0.5rem;">Rs 7
                  </div>
                </div> -->
                <div class="columns is-mobile">
                  <div class="column" style="padding:0.2rem 0.5rem;"><b>Payable</b></div>
                  <div class="column has-text-right" style="padding:0.2rem 0.5rem;"><b>Rs
                    {{total + total* tax}}</b>
                  </div>
                </div>

              </div>

            </div>


          </div>
        </div>

      </div>
    </div>

  </div>

</div>
