<!-- Sidenav Start -->

<nav class="main-menu has-shadow">
  <ul>
      <li>
        <a href="#">              
            <fa-icon icon="chart-bar" size="2x"></fa-icon>              
        </a>
      </li>
      <li >
        <a href="#">              
            <fa-icon icon="edit" size="2x"></fa-icon>              
        </a>
      </li>
      <li>
          <a href="#">              
              <fa-icon icon="file" size="2x"></fa-icon>              
          </a>
      </li>
      <li >
        <a href="#">              
            <fa-icon icon="user" size="2x"></fa-icon>              
        </a>
      </li>
      <li>
        <a href="#">              
            <fa-icon icon="address-book" size="2x"></fa-icon>              
        </a>
      </li>
      <li>
        <a href="#">              
            <fa-icon icon="book" size="2x"></fa-icon>              
        </a>
      </li>
      <li>
        <a href="#">              
            <fa-icon icon="file-invoice" size="2x"></fa-icon>              
        </a>
      </li>

  </ul>

  <ul class="logout">
      <li>
        <a href="#">              
            <fa-icon icon="sign-out-alt" size="2x"></fa-icon>              
        </a>
      </li>
  </ul>
</nav>

<!-- Sidenav End -->