
<div class="columns">
    <div class="column">
        <div class="card">
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-64x64">
                            <div id="avatar"></div>
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-5">Shrikant Gond</p>
                        <p class="subtitle is-6">
      
                            <span class="icon" style="margin-left:-5px;">                            
                                <fa-icon icon="calendar-alt"></fa-icon>
                            </span>
                            <span>5 Mar 1987</span>
      
                            <span class="icon" style="margin-left:20px;">                            
                                <fa-icon icon="mobile-alt"></fa-icon>
                            </span>
                            <span>9421883354</span>
                            <span class="icon" style="margin-left:20px;">
                                <fa-icon icon="edit"></fa-icon>
                            </span>
                            <span>shrikantgond@gmail.com</span>
                        </p>
                    </div>
                </div>
      
                <div class="content">                  
                    <span>B603, Ramchandra Nagar, dindori road, mhasarul, Nashik 422004</span>
                    <a style="margin:0 10px">#Tea Lover</a>
                    <a>#Pay in Cash</a>
      
                </div>
            </div>
        </div>
      
        <div class="card" style="margin-top: 24px;">
            <div class="content" style="text-align:center">
      
                <div class="columns is-mobile">
                    <div class="column">
                        <h2 class="h4">11</h2>
                        <div>Average Time</div>
                    </div>
                    <div class="column">
                        <h2 class="h4">$ 1214</h2>
                        <div>Total Spends</div>
                    </div>
                    <div class="column">
                        <h2 class="h4">42</h2>
                        <div>Total Visits</div>
                    </div>
                </div>
      
            </div>
        </div>
      
      </div>

    <div class="column is-one-third" style="min-width:340px;">
      <app-customer-top-orders></app-customer-top-orders>
    </div>
</div>

