.table_round {
  background: url('../../../../../assets/images/table_round.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 165px;
  width: 165px;
  text-align: center;
}

.table_square {
  background: url('../../../../../assets/images/table.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 152px;
  width: 300px;
  text-align: center;
}

.order_time {
  padding-top: 22px;
  font-size: 18px;
}

.table_no {
  font-size: 40px;
  font-weight: 600;
  margin-left: -4px;
}

.table_bill {  
  font-size: 18px;
}

.white {
  color: white;
}
