/* You can add global styles to this file, and also import other style files */
// Set your brand colors 
$primary: #8a4d76;
$info: #fa7c91;
$success: #757763;
$warning: yellow;
$danger: red;
$light: #ccc;
$dark: #444;

@import './assets/bulma/scss/bulma.scss';

body {
  font-weight: 100;
  background: #f0f0f0;
}

.uppercase {
  text-transform: uppercase;
}

.box {
  padding: 1.05rem;
}

.subtitle {
  line-height: 1;
  font-weight: 100;
  font-size: 1.10rem;
}