/* You can add global styles to this file, and also import other style files */
// Set your brand colors 
$primary: #3F51B5;
$info: #FFDD00;
$success: #11D625;
$warning: yellow;
$danger: #B92D00;
$light: #ccc;
$dark: #444;
$grey:#f0f0f0;

@import './assets/bulma/scss/bulma.scss';

body {
  font-weight: 100;
  background: $grey;
  font-size: .9rem;
}

*:focus {
  outline:none;
}

.subtitle.is-6 {
  font-size: .9rem;
}

html {
  background: $grey;
}

.uppercase {
  text-transform: uppercase;
}

.box {
  padding: 1.05rem;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 0px rgba(10, 10, 10, 0.1)
}

.subtitle {
  line-height: 1;
  font-weight: 100;
  font-size: 1.10rem;
}

.content ul {
  list-style: none;
}


/* Ripple effect */
.button:not([disabled]){
  background-position: center;
  transition: background 0.6s;
}
.button:hover {
  background: #ffffff radial-gradient(circle, transparent 1%, #ffffff 1%) center/15000%;
}
.button:active {
  background-color: $primary;
  background-size: 100%;
  transition: background 0s;
}

/* Button style */
button {
  border: none;
  border-radius: 2px;
  border-color: $grey;
  padding: 12px 18px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color: $primary;
  box-shadow: 0 0 4px $grey;
  outline: none;
}