<!-- <div class="columns is-mobile">

  <div class="column field has-text-right" style="max-width:420px;">
    <p class="control has-icons-left">
      <input class="input is-rounded is-small" style="padding-left:2.5rem;" type="password"
        placeholder="Search Customer">
      <span class="icon is-small is-left">
        <fa-icon icon="search"></fa-icon>
      </span>
    </p>
  </div>

  <div class="column is-narrow">
    <a class="button is-small is-rounded" style="width: 100px;">
      Search
    </a>
  </div>

</div> -->

<div class="field has-addons">
    <p class="control has-icons-left" style="width: 100%; margin-bottom:16px;" >
      <input class="input is-rounded is-small" type="text"
        placeholder="Search Customers">
      <span class="icon is-small is-left">
        <fa-icon icon="search"></fa-icon>
      </span>
    </p>
    <p class="control">
      <a class="button is-primary is-small is-rounded">
        Search
      </a>
    </p>
  </div>

<app-customer-list></app-customer-list>
